@import url(https://fonts.googleapis.com/css?family=Amatic+SC:400,700);
@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);
body {
  font-family: "Amatic SC", cursive;
  font-size: 200%; }

.amatic-font {
  font-family: "Amatic SC", cursive; }

.inconsolata-font {
  font-family: "Inconsolata"; }

h1 {
  font-family: "Inconsolata";
  font-size: 370%;
  font-weight: bolder;
  color: #FFFD51;
  stroke: solid;
  stroke-width: 1px;
  stroke-color: black;
  text-shadow: white; }

.side-nav a, nav ul a,
nav, #nav-mobile {
  background-color: #ED254E;
  font-size: 100%;
  color: white; }

#about-background {
  background-color: #F4FFFD; }

#portfolio-background {
  background-color: #D4FA8E; }

#contact-background {
  background-color: #FFFF99; }

#about-background, #portfolio-background, #contact-background {
  height: 100vh;
  margin: 0; }

#about-me-card {
  background-color: #2F2F2F;
  color: #ED254E; }
  #about-me-card p {
    color: #ffffff;
    font-size: 75%; }

#portfolio-card {
  background-color: #F4FFFD;
  color: #2F2F2F; }

#resume-link {
  color: #ED254E; }

#logo-container img {
  padding-top: 5px;
  height: 56px; }

.button-collapse {
  color: #D4FA8E; }

.parallax-container {
  height: 100vh;
  color: rgba(255, 255, 255, 0.9); }

.parallax-container .section {
  width: 100%; }

.icon-block .material-icons {
  font-size: inherit; }

footer.page-footer {
  margin: 0; }
