extends wrapper

block title
  | About 

block body
  #about-background
    .container
      .section
        .row.center
          h1 About
          p.flow-text A photographer, musician, designer, and traveler.
        .row
          .col.s12.m12.l6
            img.hoverable.z-depth-1(src='img/me.jpg')
          .col.s12.m12.l6
            #about-me-card.card-panel.hoverable
              h3 Hi I'm Dalia
              p I'm a student working toward my degree in Communication Studies. I enjoy graphic design. 
                
