extends wrapper

block title
  | About me

block body
  #about-background
    .container
      .section
        .row.center
          h1 About
          p.flow-text An photographer, musician, designer, and traveler.
        .row
          .col.s12.m12.l6
            img.hoverable.z-depth-1(src='img/me.jpg')
          .col.s12.m12.l6
            #about-me-card.card-panel.hoverable
              h1 Dalia
              p First and foremost, I am a nerd. (check the css for these colors)
