extends wrapper

block title
  | About 

block body
  #about-background
    .container
      .section
        .row.center
          h2 about
          p.flow-text A photographer, musician, designer, and traveler.
        .row
          .col.s12.m12.l6
            img.hoverable.z-depth-1(src='img/me.jpg')
          .col.s16.m19.l6
            #about-me-card.card-panel.hoverable
              
              p My name is Dalia. I am a graphic designer from Southern California living in the Bay Area. <br>At 18, I founded Bandshite.com, a DIY pin shop for music aficionados. <br>My latest project has been a documentary film titled, My Life with Rosie, based on the rebellious and incredibly inspiring Rosa Parks. <br>Currently I am attending SJSU and pursuing a degree in Communications. 
