extends wrapper

block title
  | Contact Me

block body
  #contact-background
    .container.center
      .section
        .row
          h1.center Contact
        .row
          .col.s12.push-m3.m6.push-l4.l4.center
            #portfolio-card.card-panel.hoverable
              h1 email me at <a href='mailto:hello@dalia.me'>hello@dalia.me</a>
              
