extends wrapper

block title
  | contact me

block body
  #contact-background
    .container.center
      .section
        .row
          h2.center Contact
        .row
          .col.s12.push-m6.m6.push-l6.l6.center
            #portfolio-card.card-panel.hoverable
              h3 email me at <a href='mailto:hello@dalia.me'>hello@dalia.me</a>
              
