extends wrapper

block title
  | Dalia
  
block body
  #index-banner.parallax-container.valign-wrapper
    .section.no-pad-bot
      .container.valign
        h1.header.center(style='margin-top: 0px;') Hello I'm Dalia!
        
        .row.center
          h2.header i'm so glad you're here!
    .parallax
      img(src='img/home_background.jpg' alt='Beach background')
      
  .container
    .section
      .row
        .col.s12.m6.l3
          .icon-block
            h2.center.black-text
              //- Look at https://design.google.com/icons/ for other icons
              i.material-icons mic  
            h5.center Communications
            
        .col.s12.m6.l3
          .icon-block
            h2.center.black-text
              i.material-icons album
            h5.center Design
            
        .col.s12.m6.l3
          .icon-block
            h2.center.black-text
              i.material-icons camera
            h5.center Photography
        
        .col.s12.m6.l3
          .icon-block
            h2.center.black-text
              i.material-icons settings
            h5.center Writing
