doctype html
html(lang='en')
  head
    title 
      block title
    
    meta( charset='utf-8' )
    meta( http-equiv='X-UA-Compatible', content='IE=edge' )
    
    // Google Icon Font
    link( href='http://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
    
    // Materialize.css
    link( type='text/css' rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css' )

    // responsive mobile-first viewport
    meta( name='viewport', content='width=device-width, initial-scale=1.0' )
    
    link( href='css/style.css', rel='stylesheet', type='text/css' )
  
  body
    nav(role='navigation')
      .nav-wrapper.container
        a#logo-container.brand-logo(href='/index.html')
          img(src='img/logo.png' alt='Dalia.me Logo')
        ul.right.hide-on-med-and-down
          li
            a(href='index.html') Home
          li
            a(href='about.html') About
          li
            a(href='portfolio.html') Porfolio
          li
            a(href='contact.html') Contact
        ul#nav-mobile.side-nav
          li
            a(href='index.html') Home
          li
            a(href='about.html') About
          li
            a(href='portfolio.html') Porfolio
          li
            a(href='contact.html') Contact
          
        a.button-collapse(href='#' data-activates='nav-mobile')
          i(class='material-icons') menu
    
    block body
    
    
    // Javascript files. Don't touch!
    // jQuery
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js')
    // Materialize JS
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js')
    script(src='js/script.js')

    
