@import url(https://fonts.googleapis.com/css?family=Amatic+SC:400,700);
@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);

$amatic: 'Amatic SC', cursive;
$inconsolata: 'Inconsolata', ;

$myred: #ED254E;
$myyellow: #FFFF99;
$mygreen: #D4FA8E;
$myblack: #2F2F2F;
$myblue: #F4FFFD;

body {
  font-family: $amatic;
  font-size: 200%;
}

.amatic-font {
  font-family: $amatic;
}

.inconsolata-font {
  font-family: $inconsolata;
}
h1{
  font-family: $inconsolata;
  font-size: 370%;
  font-weight: bolder;
  color: #FFFD51;
  stroke: solid;
  stroke-width: 1px;
  stroke-color: black;
  text-shadow: white;

}
.side-nav a, nav ul a,
nav, #nav-mobile {
  background-color: $myred;
  font-size: 100%;
  color: white;
}

#about-background {
  background-color: $myblue;
}

#portfolio-background {
  background-color: $mygreen;
}

#contact-background {
  background-color: $myyellow;
}

#about-background, #portfolio-background, #contact-background{
  height: 100vh; // Screen size - navbar
  margin: 0;
}

#about-me-card {
  background-color: $myblack;
  color: $myred;
  p {
    color: #ffffff;
    font-size: 75%
  }
}

#portfolio-card {
  background-color: $myblue;
  color: $myblack;
  // p {
  //   color: $myblack;
  // }
}

#resume-link {
  color: $myred;
}

#logo-container {
  img {
    padding-top: 5px;
    height: 56px;
  }
}



// p {
//   line-height: 2rem;
// }

.button-collapse {
  color: $mygreen;
}

.parallax-container {
  // line-height: 0;
  height: 100vh;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

// @media only screen and (max-width : 992px) {
//   .parallax-container .section {
//     position: absolute;
//     top: 40%;
//   }
//   #index-banner .section {
//     top: 10%;
//   }
// }
//
// @media only screen and (max-width : 600px) {
//   #index-banner .section {
//     top: 0;
//   }
// }

.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
